* {
  margin: 0px;
  padding: 0px;
  font-family: "Indie Flower", cursive;
}
td {
  font-size: xx-large;
  text-align: center;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f8f1e9;
}
table {
  margin: auto;
}
#gameStatus,
.nameInput {
  display: grid;
  background-color: #e4dccf;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  width: 450px;
  height: 150px;
}
#gameStatus {
  place-items: center;
  font-size: 36px;
}

.container {
  background-color: #f2e8d2;
  height: 100vh;
  width: 700px;
  margin: auto;
}
